.watch {
    width: 99vw;
    height: 97vh;

    .back {
        display: flex;
        align-items: center;
        position: absolute;
        left: 10px;
        color: white;
        cursor: pointer;
        z-index: 2;
    }

    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
